/* styling  */
/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Noto+Serif&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital@0;1&display=swap');

*,
*::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
:root{
    --primary: #12100E;
    --secondary:#3A8541;
    --alternative:#ffff; 
 
}

/* nav */
nav ul li {
    padding: 12px;
}

nav .nav-link{
    color:var(--alternative);
    
}

nav{
    background-color: var(--primary);
}

.active, nav .nav-link:hover{
   color: var(--secondary);
  
  }

a.router-link-exact-active.nav-link{
    color:var(--secondary);
  }

/* Logo */
img[alt='logo']{
    width: 7rem;
    margin-left:2rem ;
  
}

/* body */
#body{
    background-color:var(--primary);
    font-family: "Old Standard TT", serif;
    color: var(--alternative);
  }

/* App */


/* Footer */
Footer{
    margin-top: 5rem;

}

Footer div{
    background-color: #3A8541;
}


